.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
form{
    display:flex;
}

mat-form-field {
    width: 500px;
    margin-right:20px;
}
mat-card-actions{
    display: flex;

}
.search-button-container{
    padding-top:8px;
    align-items: center;

}

.display{
width: 80%;
margin: 10px 20px 10px 20px;
}