$ambre : #f0c300;

.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

mat-card {
    max-width: 400px;
    padding: 25px;
    border-radius: 120px 25px 120px 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.signup-form{
    padding: 20px;
}

mat-form-field{
    width: 100%;
}

mat-card-title{
    color: $ambre;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.signup-button-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
/*
.form-button{
    background-color: #f0c300;
    color: #F5F5F5;
} */