.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Full viewport height */
}
form{
    display:flex;
}

mat-form-field {
    width: 500px;
    margin-right:20px;
}
mat-card-actions{
    display: flex;

}
.search-button-container{
    display: flex;
    align-items: flex-start;
}
.form-button {
    margin-top: 0px;
    margin-bottom: 10px;
}