.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

mat-form-field {
    width: 70%;
}
  
input[matInput] {
    padding: 10px; 
}
button{
    padding:25%;
    border-radius: 25%;
}